* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: FiraGO;
    src: url(./src/fonts/FiraGO-Bold.woff);
}

@font-face {
    font-family: Fira_Regular;
    src: url(./src/fonts/FiraGO-Regular.woff);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

#main_container {
    margin-top: 35px;
    margin-bottom: 90px;
    margin-left: 109px;
    margin-right: 108px;
}

h1 {
    font-family: FiraGO;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.search_box {
    box-sizing: border-box;
    margin-top: 30px;

}

.search_box_header {
    font-family: Fira_Regular;
    border: 1px solid #EDEDED;
    display: flex;
    justify-content: cen;
    box-sizing: border-box;
    width: 100%;
    height: 65px;

    padding-left: 25px;
}

.search_name {
    width: 49px;
    height: 19px;
    font-size: 16px;
    font-family: FiraGO;
    color: #000000;

    padding-right: 357px;
}

.search_email {
    width: 49px;
    height: 19px;
    font-family: FiraGO;
    

    color: #000000;

    padding-right: 273px;
}

.search_mobile {
    width: 49px;
    height: 19px;
    font-family: FiraGO;
    

    color: #000000;

    padding-right: 293px;
}

.search_action {
    width: 49px;
    height: 19px;
    font-family: FiraGO;
    

    color: #000000;
}

.search_box_data {
    width: 1223px;
    height: 84px;
    background: #FAFAFA;
    border: 1px solid #EDEDED;
    font-family: Fira_Regular;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 81px;
}

input {
    width: 359px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 10px;

    padding-left: 24px;
}

#text {
    margin-left: 25px;
    margin-right: 47px;
    width: 359px;
    height: 50px;
}

#email {
    margin-right: 50px;
    width: 266px;
    height: 50px;
}

#mbtext {
    width: 217px;
    height: 50px;
}

.search_btn {
    width: 141px;
    height: 50px;
    background: #FFDD04;
    border-radius: 10px;
    border-color: transparent;

    margin-right: 39px;
    margin-left: 79px;

}

::placeholder {
    font-size: 16px;
    color: #E8E8E8;
}

.user_list_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Fira_Regular;
}

.create_user_btn {
    width: 141px;
    height: 40px;
    background: #FFDD04;
    border-radius: 10px;
    border-color: transparent;
}

p {
    font-family: FiraGO;
    width: 106px;
    height: 24px;
}

.user_list_header {
    box-sizing: border-box;
    font-family: Fira_Regular;
    width: 1223px;
    height: 65px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    margin-top: 21px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 25px;
}

.user_list_header>table {
    text-align: left;
    box-sizing: border-box;
    /* padding-left: 25px;
    padding-top: 23px; */
}

.name {
    width: 49px;
    height: 19px;
}

.email {
    width: 49px;
    height: 19px;
    padding-left: 164px;
}

.mobile {
    width: 49px;
    height: 19px;
    padding-left: 144px;
}

.created_at {
    width: 83px;
    height: 19px;
    padding-left: 143px;
}

.updated_at {
    width: 83px;
    height: 19px;
    padding-left: 113px;
}

.action {
    width: 49px;
    height: 19px;
    padding-left: 191px;
    padding-right: 81px;
}

/* .user_list_header>tr {
    width: 49px;
    height: 19px;
} */

.user_list_data {
    box-sizing: border-box;
    font-family: Fira_Regular;
    background: #FAFAFA;
    border: 1px solid #EDEDED;
    width: 1223px;
    height: 65px;

    padding-left: 25px;
}

.user_list_data {
    /* box-sizing: border-box; */

    /* width: 100%;
    height: 100%; */

    display: flex;
    justify-content: center;
    align-items: center;

    background: #FAFAFA;
    border: 1px solid #EDEDED;

    /* padding-left: 25px; */
}

/* table {
    box-sizing: border-box;
} */

.name1 {
    width: 107px;
    height: 19px;

    padding-right: 106px;
}

.email1 {
    width: 150px;
    height: 19px;

    padding-right: 43px;
    
}

.mobile1 {
    width: 143px;
    height: 19px;

    padding-right: 49px;
}

.created_at1 {
    width: 147px;
    height: 19px;

    padding-right: 49px;
}

.updated_at1 {
    width: 145px;
    height: 19px;

    padding-right: 59px;
}

button {
    font-family: FiraGO;
}

.delete_btn {
    width: 93px;
    height: 33px;
    background: #FF8271;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-right: 6px;
}

.delete_btn>button {
    background-color: #FF8271;
    border-color: transparent;
}

.edit_btn {
    display: flex;
    justify-content: center;
    width: 93px;
    height: 33px;
    background: #FFDD04;
    border-radius: 10px;
    margin-right: 8px;
}

.edit_btn>button {
    background-color: #FFDD04;
    border-color: transparent;
}