* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: FiraGO;
    src: url(./src/fonts/FiraGO-Bold.woff);
}

@font-face {
    font-family: Fira_Regular;
    src: url(./src/fonts/FiraGO-Regular.woff);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

#main_container {
    margin-top: 35px;
    margin-bottom: 90px;
    margin-left: 109px;
    margin-right: 108px;
}

h1 {
    font-family: FiraGO;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.search_box {
    margin-top: 30px;
}

table {
    width: 100%;
}

.search_box_header {
    font-family: Fira_Regular;
    border: 1px solid #EDEDED;
    padding-top: 23px;
    padding-bottom: 23px;
    display: flex;
    justify-content: space-around;
}

.search_name {
    width: 49px;
    height: 19px;
    /* font-weight: 400; */
    font-size: 16px;
    /* line-height: 19px; */
    font-family: FiraGO;
    color: #000000;
}

.search_email {
    width: 49px;
    height: 19px;
    font-family: FiraGO;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.search_mobile {
    width: 49px;
    height: 19px;
    font-family: FiraGO;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.search_action {
    width: 49px;
    height: 19px;
    font-family: FiraGO;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.search_box_data {
    width: 1223px;
    height: 84px;
    background: #FAFAFA;
    border: 1px solid #EDEDED;
    font-family: Fira_Regular;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 81px;
}

input {
    width: 359px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 10px;

    padding-left: 24px;
}

#text {
    margin-left: 25px;
    margin-right: 47px;
    width: 359px;
    height: 50px;
}

#email {
    margin-right: 50px;
    width: 266px;
    height: 50px;
}

#mbtext {
    width: 217px;
    height: 50px;
}

.search_btn {
    width: 141px;
    height: 50px;
    background: #FFDD04;
    border-radius: 10px;
    border-color: transparent;

    margin-right: 39px;
    margin-left: 79px;

}

::placeholder {
    font-size: 16px;
    color: #E8E8E8;
}

.user_list_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Fira_Regular;
}

.create_user_btn {
    width: 141px;
    height: 40px;
    background: #FFDD04;
    border-radius: 10px;
    border-color: transparent;
}

p {
    font-family: FiraGO;
    width: 106px;
    height: 24px;
}

.user_list_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Fira_Regular;
    width: 1223px;
    height: 65px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    margin-top: 21px;
}

.user_list_header>tr {
    width: 49px;
    height: 19px;
}

.user_list_data {
    align-items: center;
    font-family: Fira_Regular;
    background: #FAFAFA;
    border: 1px solid #EDEDED;
}

.user_list_data>div {


    width: 1223px;
    height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #FAFAFA;
    border: 1px solid #EDEDED;
}

.delete_btn {
    width: 93px;
    height: 33px;
    background: #FF8271;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-right: 6px;
}

.delete_btn>button {
    background-color: #FF8271;
    border-color: transparent;
}

.edit_btn {
    display: flex;
    justify-content: center;
    width: 93px;
    height: 33px;
    background: #FFDD04;
    border-radius: 10px;
    margin-right: 8px;
}

.edit_btn>button {
    background-color: #FFDD04;
    border-color: transparent;
}